includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    ignoreErrors:
            -
             identifier: missingType.iterableValue

    excludePaths:
        - src/Commands/PublishComponent.php

    level: 6
