includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    ignoreErrors:
            -
             identifier: missingType.iterableValue
            -
             identifier: missingType.generics

    excludePaths:
        - src/Commands/PublishComponent.php

    level: 6

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
