.m-form-radio-check {
    box-shadow: inset 0 0 0 1px var(--black);
}

.m-form-radio .m-form-radio-wrap input:checked + .m-form-radio-check::before {
    content: "";
    position: absolute;
    background: var(--black);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 100;
}
